body {
  min-height: 100vh;
  margin: 0%;
}

#root {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  height: 100vh;
  width: 100%;
}

#cardGrid {
  grid-row: 2/9;
  grid-column: 2/10;
  display: flex;
  flex-direction: column;
}

#gridTop {
  flex-wrap: wrap;
}


#gridTop, #gridBottom, .cardCell, .cardContainer{
  flex: 1;
  display: flex;
}

.cardButton {
  flex: 1;
}





