body {
  min-height: 100vh;
  margin: 0%;
  background-color: rgb(18, 114, 18);
}

#root {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  min-height: 100vh;
  width: 100%;
}

#cardGrid {
  grid-column: 2/10;
  grid-row: 3/9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#gridTop, #gridBottom {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.cardButton {
  display: flex;
  background-color: transparent;
  backface-visibility: hidden;
}

.cardImage {
  height:100% ;
  width: 100%;
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(80deg);
  }
}



.cardImage:hover {
  cursor: pointer;
  transform: scale(1.1); 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  background-color: transparent;
}


@media (max-width: 80em) {
  #cardGrid {
    grid-column: 1/11;
    gap: 8px;
  }
}

@media (max-width: 50em) {
  #cardGrid {
    grid-column: 1/11;
    grid-row: 5/8;
    gap: 8px;
  }
}

@media (max-width: 35em) {
  #cardGrid {
    grid-row: 5/7;
  }
}




